* {
  font-family: cursive;
  color: #1e1e1e;
}
h3 {
  color: #2f9e44;
}
h4 {
  color: #186ebd;
}

body {
  width: 700px;
  margin-left: 2vw;
  border: 4px solid #1e1e1e;
  padding: 20px;
}

hr {
  border: 2px solid #1e1e1e;
  border-radius: 10px;
}

nav {
  padding-bottom: 5vh;
}
